body, html {
    background-color: lightgoldenrodyellow;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    text-align: center;
}

p {
    text-align: justify;
}

#principal {
    padding: 20px;
    border: solid 3px white;
    border-radius: 20px;
    background-color: whitesmoke;
}

#menu {
    text-align: center;
    font-size: 20px;
    color: lightskyblue;
    padding: 20px;
}

.item {
    color: lightgreen;
    padding: 30px;
    border-radius: 70px 0px 70px 70px;
    border: solid 2px lightgreen;
    background-color: green;
}

.active {
    color: green;
    padding: 30px;
    border-radius: 70px 0px 70px 70px;
    border: solid 2px lightgreen;
    background-color: lightgreen;
}

.home {
    padding: 10px;
    border: solid 3px green;
    border-radius: 0px 20px 20px 20px;
    background-color: lightgreen;
}

.titulo {
    text-align: center;
    color: #485447;
    font-size: 50px;
}

.atardecer {
    max-width: 100%;
    border-radius: 20px;
}

.footer {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 10px;
}

form {
    padding: 20px;
    text-align: left;
    padding-left: 550px;
}

iframe {
    text-align: left;
    padding-left: 450px;
}

ul {
    font-size: 20px;
    padding-left: 680px;
}


@media screen and (max-width: 800px) {
    .item {
        font-size: 15px;
        padding: 10px;
        border-radius: 20px 0px 20px 20px;
    }
    .titulo {
        text-align: center;
        color: blue;
        font-size: 30px;
    }
    form {
        padding: 20px;
        text-align: left;
        padding-left: 10px;
    }

    iframe {
        text-align: left;
        padding-left: 5px;
        max-width: 95%;
    }

    ul {
        font-size: 20px;
        padding-left: 20px;
    }
}