html, body {
    text-align: justify;
}

h1, h2, h3 {
    text-align: center;
}

nav {
    font-size: 30px;
}

/*
#principal {

}
*/

.item {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    text-align: center;
    border-radius: 20px;
}